<!-- templates/registration/password_reset_confirm.html -->
{% extends "base.html" %}

{% block title %}Enter new password{% endblock %}


{% block content %}
<div class="content-section col-md-8 col-md-offset-2">
  <h1>Set a new password!</h1>
  <center>
  <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
    {% csrf_token %}
    <fieldset class="form-group">
      <label for="password">New Password:</label>
      <input type="password" id="password" name="password"><br><br>
    </fieldset>
   <center>
    <button style="background: black; font-size: 2rem; padding:1%;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span> Reset Passwords</button>
  </center>
  <br/>
</center>
 </div>


{% endblock %}